$white: #FFF;
$dark-blue: #265B8B;
$light-blue: #84C7F2;
$blue: #1181C8;
$green: #008846;
$light-green: #2FD685;

$grey: #D8D8D8;
$light-grey: #E8E8E8;


$primary: $blue;
$light-primary: $light-blue;
$dark-primary: $dark-blue;
$secondary: $green;
$light-secondary: $light-green;

$border: $grey;
$grey-bg: $light-grey;
$bg: $white;
