@import './variables.scss';

.btn {
  padding: 10px 20px;
  font-size: .825rem;
  border-radius: 2px;
  border: 0;
  cursor: pointer;
  transition: all ease 1s;
  outline: none;
}

.btn-primary {
  color: $white;
  background-color: $primary;
  &:hover {
    background-color: $light-primary;
  }
}

.btn-secondary {
  color: $white;
  background-color: $light-secondary;
  &:hover {
    background-color: $secondary;
  }
}
