@import './variables';

.input {
  padding: 5px 10px;
  font-size: .825rem;
  border-radius: 2px;
  color: $dark-primary;
  font-weight: 300;
  height: 36px;
  border: 1px solid $border;
  outline: none;
}
