@import './variables';

.nav-bar {
  height: 60px;
  width: 100vw;
  background-color: $dark-primary;
  border-bottom: 2px solid $light-primary;
  display: flex;
  justify-content: center;
  align-items: space-around;
  > a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    padding: 5px 25px;
    margin: 0 10px;
    background-color: $light-primary;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      color: $dark-primary;
      background-color: $white;
    }
  }
  .active {
    background-color: $white;
    color: $dark-primary;
  }
}
